extends layout
block layout-content
    div.content
        div#itemContainer
            div.item
                img(src="../img/homemade-chocolate-bars-500x500.jpg", alt="", class="itemImage")
                p.priceT Chocolate Bar - 100g
                p.price $2.29
                button.cart Add to Cart
            div.item
                img(src="../img/Lollipops-Without-Corn-Syrup-500x500.jpg", alt="", class="itemImage")
                p.priceT Lollipop - 50g
                p.price $0.99
                button.cart Add to Cart
            div.item
                img(src="../img/homemade-potato-chips-500x500.jpg", alt="", class="itemImage")
                p.priceT Bag of Chips - 60oz
                p.price $2.99
                button.cart Add to Cart
            div.item
                img(src="../img/cotton-candy-in-front-of-carousel.webp", alt="", class="itemImage")
                p.priceT Cotton Candy - 12oz
                p.price $5.19
                button.cart Add to Cart
            